<div class="container">

  <h1 class="my-5 font-weight-normal text-center"><%= @event.title %></h1>

  <ul class="list-group my-5 text-left">
    <li class="list-group-item">
      <b>Organisateur :</b><br>
      <%= @event.admin.first_name %> <%= @event.admin.last_name %>
    </li>
    <li class="list-group-item">
      <b>Lieu</b><br>
      <%= @event.location%>
    </li>
    <li class="list-group-item">
      <b>Description :</b><br>
      <%= @event.description %>
    </li>
    <li class="list-group-item">
      <b>Date :</b><br>
      <%= @event.start_date%>
    </li>
    <li class="list-group-item">
      <b>Prix :</b><br>
      <%= @event.price%> €
    </li>
  </ul>
  <div class="button my-5">
    <% if @event.admin == current_user %>
      <%= link_to "Editer l'évènement", edit_event_path(@event), class: "btn btn-outline-primary" %>
      <%= link_to "Supprimer l'évènement", event_path(@event), :method => 'DELETE', class: "btn btn-outline-danger ml-3" %>
    <% elsif @event.guests.select{ |guest| guest == current_user }.count == 0 %>
      <%= link_to "S'inscrire à l'évènement", new_event_attendance_path(@event), class: "btn btn-outline-primary" %>
    <% elsif @event.guests.select{ |guest| guest == current_user }.count == 1 %>
      <%= link_to "Se désinscrire de l'évènement", attendance_path(current_user, @event), :method => 'DELETE', class: "btn btn-outline-danger" %>
    <% end %>
  </div>
</div>